<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPhotoShow</title>
</head>
<body>
    <div>
      <div>
        <h1> <strong> My <span style="Color:RED">Photo</span> Show </strong></h1>
      </div>
      <div>
        <h2> <em> Лента </em></h2>
      </div>

      <div>
          <ul>
            <li> <a>Меню:</a></li>
            <li> <a href="./lenta.html">Лента</a> </li>
            <li> <a href="profile.html">Профиль</a> </li>
            <li> <a href="description.html">Описание</a> </li>
          </ul>
      </div>

      <br>

      <div style="Color:BLUE">
        <p>Пользователь: T-Rex2003</p>
        <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014_960_720.jpg">
        <p>Опубликованно 17.02.2020 12:32</p>
      </div>

      <br>

      <div style="Color:BLUE">
        <p>Пользователь: Lolipop888</p>
          <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <p>Опубликованно 16.02.2020 19:44</p>
      </div>

      <br>

      <div>
        <video width="800" height="600" controls>
          <source="https://yandex.ru/efir?stream_id=4b4ba3bbf90cb5cba6036265723c9d89">
        </video>
      </div>

      <div>
        <p><a href="lenta.html#top">Перейти к верху страницы</a></p>
      </div>
    </div>
</body>
</html>