body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #fff;
    line-height: 1.6;
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: url("../img/intro/intro.jpg")
        center
        no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #fff;
}

.intro_subtitle {
    font-size: 60px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

/* Header */
.header {
    width: 100%;
    min-width: 960px;
    padding-top: 30px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.header_logo {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.header_logo:hover {
    color: #a16d83;
}

/* Nav */

.nav {
    font-size: 25px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    
    background-color: #a16d83;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #a16d83;
}

.nav_link:hover:after {
    opacity: 1;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin-top: 15px;
    
    border: 3px solid #fff;
    font-size: 20px;
    font-weight: 700;
    
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #a16d83;
}

/* Description */

.description {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 1080px;
    
    background: url("../img/intro/description.jpg")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;

}

/* Section */

.section{
    padding: 60px 0;
}

.section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_header{
    width: 100%;
    max-width: 900px;
    margin: 0 auto 60px;
    text-align: center;
}

.section_subtitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #fff;
}

.section_title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    color: #fff;
    
    background-color: #fff;
}

.section_text{
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 380px;
}

.about_item_description {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.about_img {
    height: 250;
    width: 380;
}

/* Statistics */

.statistics {
    background-color: #6c384e;
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    padding: 40px 20px;
    border-left: 5px solid #8c586e;
    text-align: center;   
}

.stat_item:last-child {
    border-right: 5px solid #8c586e;
}

.stat_counter {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 20px;
    text-transform: uppercase;
}

/* CSS for feed.html */

/* Feed */

.feed_body {
    width: 100%;
    height: 100%;
    background-color: #1d1425;
}

.feed_body .header {
    position: fixed;
    background-attachment: scroll;
    background: #1d1425;
    z-index: 1000;
}

.feed {
    margin-top: 110px;
}

.feed .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 50px;
}

/* Posts */

.post {
    width: 380px;
    height: 440px;
    text-align: center;
    background-color: #b191a6;
    margin: 10px 10px;
    transition: background .3s linear, color .3s linear;
}

.post:hover {
     width: 385px;
    height: 445px;
    margin: 7.5px 7.5px;
    background-color: #fff;
}

.img_link{
    text-decoration: none;
}

.post_img{
    max-width: 370px;
    max-height: 370px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0px auto;
}

.post_author {
    width: 370px;
    line-height: 30px;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #1d1425;
    
}

.post_lower_bar {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.post_btn_like {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-right: 15px;
    background: url("../img/icons/like.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    transition: background .25s linear, color .2s linear;
    z-index: 1001;
}

.post_btn_like:hover {
    background-color: #000;
    background: url("../img/icons/like_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
}

.post_btn_comment {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-right: 5px;
    background: url("../img/icons/comment.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    transition: background .2s linear, color .2s linear;
    z-index: 1001;
}

.post_btn_comment:hover {
    background-color: #000;
    background: url("../img/icons/comment_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
}

.profile_link {
    text-decoration: none;
    color: #1d1425;
    transition: background .2s linear, color .2s linear;
}

.profile_link:hover{
    color: #b191a6;
}


/* CSS for contact.html */

.contact_bode {
    width: 100%;
    height: 100%;
    background-color: #1d1425;
}

.contact {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: url("../img/contact/back.jpg")
        center
        no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .container {

}
.contact_inner {
    width: 100%;
    max-width: 880px;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
}

.contact_title {
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.contact_text {
    font-size: 22px;
    margin-top: 50px;
}

.contact_services {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service_btn_vk {
    width: 128px;
    height: 128px;
    background: url("../img/icons/vk.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    transition: background .25s linear, color .2s linear;
    z-index: 1001;
}

.service_btn_facebook {
    width: 128px;
    height: 128px;
    background: url("../img/icons/facebook.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    transition: background .25s linear, color .2s linear;
    z-index: 1001;
}

.service_btn_instagram {
    width: 128px;
    height: 128px;
    background: url("../img/icons/instgram.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    transition: background .25s linear, color .2s linear;
    z-index: 1001;
}

.service_btn_vk:hover{
    background: url("../img/icons/vk_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
}

.service_btn_facebook:hover{
    background: url("../img/icons/facebook_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
}


.service_btn_instagram:hover{
    background: url("../img/icons/instgram_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
}

#animation_test{
    width: 128px;
    height: 128px;
    margin-left: calc(50% - 50px);
    
}

#image {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    transition: background .2s linear, color .2s linear;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    background: url("../img/icons/loading_1.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

#image:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    background: url("../img/icons/loading_1_highlight.png")
    center
    no-repeat;
    -webkit-background-size: cover;
     background-size: cover;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

/* CSS for profile.css */

.profile_body {
    width: 100%;
    height: 100%;
    background-color: #1d1425;
}

.profile {
    margin-top: 150px;
    text-align: center;
}

.profile_header_box {
    background-color: #b191a6;  
}

.profile_header {
    width: 500px;
    margin: auto;
    margin-top: 15px;
}
.profile_photo_box {
    width: 310px;
    height: 310px;
    background-color: #fff;
    margin: auto;
}

.profile_photo {
    width: 310px;
    height: 310px;
    margin: 5px 5px;
    overflow: hidden;
}

.profile_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_name {
    padding: 0 0 0 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin: auto;
    color: #1d1425;
}

.profile_text {
    padding: 0 0 0 0;
    color: #1d1425;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
}

.profile_posts {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}