<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/img/icons/loading_1.png" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>MyPhotoShow</title>
    <script src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <style>
        #email_text {
            font-size: 24px;
        }
    </style>
</head>
{% block body_style %}
<body>
{% endblock %}
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="header_logo" href="main.html">MY PHOTO SHOW</a>


                <nav class="nav">
                    {% if user.is_authenticated %}
                        <a class="nav_link" href="feed.html">Feed</a>
                        <a class="nav_link" href="profile.html">Profile</a>
                    {% else %}
                        <a class="nav_link" href="login.html">Login</a>
                    {% endif %}
                    <a class="nav_link" href="contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>