{% extends 'base.html' %}
{%  block body_style %}
    <body class="feed_body">
{% endblock %}
{% block content %}
    <div class = "feed">
        <div class ="container">

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Celea12</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/1.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Neruzah</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/2.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Qust1991</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/3.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@EsarEsar</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/4.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                 </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Memalah</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/5.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Nismit</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/6.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Urnobionu2</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/7.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Elllera</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/8.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Urnobionu2</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/9.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Hmamoc231111</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/10.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Ittaciot</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/11.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Ybeova</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/12.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Lueera</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/13.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Qaladana1102</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/14.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@chadyana</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/15.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none">
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@atrem1999</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../static/img/feed/16.jpg" width="100%" height="100%">
                            </a>
                        </div>
                                       <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

        </div>
    </div>
{% endblock %}