{% extends 'base.html' %}
{%  block body_style %}
    <body class="profile_body">
{% endblock %}
{% block content %}
    <div class="profile">
        <div class="profile_header_box">
            <div class="container">
                <div class="profile_header">

                    <div class="profile_description">
                        <div class="profile_name">
                            @{{ user.username }}
                        </div>
                        <div class="profile_photo_box">
                            <div class="profile_photo">
                                 <img width="100%" height="100%"  alt="avatar" src= {{ person.avatar.url }} >
                            </div>
                        </div>
                        <br>
                        <div class="profile_text">
                            {{ person.description }}
                        </div>
                    </div>
                </div>
                    <div class="logout">
                        <a class="btn" href="creating_post.html">Add post</a>
                        <a class="btn" href="editing_profile_info.html">Edit profile</a>
                        <a class="btn" href="logout/">Logout</a>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class ="profile_posts">
            {% for post in posts %}
                <a style="text-decoration: none">
                    <object>
                        <div class = "post">
                            <div class = "post_author">
                                <a class="profile_link" href="#">@{{ post.author.id }}</a>
                            </div>
                            <div class = "post_img">
                                <a class = "img_link" href="#">
                                    <img width="100%" height="100%" alt="photo" src={{ post.img.url }}>
                                </a>
                            </div>
                            <form action="like/" method="POST" id='{{post.id}}' class='like-form'>
                                {% csrf_token %}
                                <input id="btn{{post.id}}" type="hidden" name="post_id" value={{post.id}}>
                                <div class="post_lower_bar">
                                    <button type='submit' class= "post_btn_like"></button>
                                    <!-- <input class= "post_btn_like" type="submit" id="like"  name='{{post.id}}'/>-->
                                    <div class="num_of_likes">
                                        <div class="like-count{{post.id}}">
                                            {{ post.number_of_likes }}
                                        </div>
                                    </div>
                                    <!---<a class= "post_btn_comment" href ="#"></a> --->
                                </div>
                            </form>

                        </div>
                    </object>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
<!--
<script>
$('#like').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'like' %}",
               data: {'post_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      alert('Company likes count is now ' + response.likes_count);
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })
    !-->
</script>
{% endblock %}