{% extends 'base.html' %}
{%  block body_style %}
    <body class="profile_body">
{% endblock %}
{% block content %}
    <div class="profile">
        <div class="profile_header_box">
            <div class="container">
                <div class="profile_header">

                    <div class="profile_description">
                        <div class="profile_name">
                            @{{ user.username }}
                        </div>
                        <div class="profile_photo_box">
                            <div class="profile_photo">
                                 <img width="100%" height="100%"  alt="avatar" src= {{ person.avatar.url }} >
                            </div>
                        </div>
                        <br>
                        <div class="profile_text">
                            {{ person.description }}
                        </div>
                    </div>
                </div>
                    <div class="logout">
                        <a class="btn" href="creating_post.html">Add post</a>
                        <a class="btn" href="editing_profile_info.html">Edit profile</a>
                        <a class="btn" href="logout/">Logout</a>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class ="profile_posts">
            {% for post in posts %}
                <a style="text-decoration: none">
                    <object>
                        <div class = "post">
                            <div class = "post_author">
                                <a class="profile_link" href="#">@{{ post.author.id }}</a>
                            </div>
                            <div class = "post_img">
                                <a class = "img_link" href="#">
                                    <img width="100%" height="100%" alt="photo" src={{ post.img.url }}>
                                </a>
                            </div>
                            <form action="like/" method="POST" id='{{post.id}}' class='like-form'>
                                {% csrf_token %}
                                <input id="btn{{post.id}}" type="hidden" name="post_id" value="{{post.id}}">
                                <div class="post_lower_bar">
                                    <input type="button" class= "post_btn_like" onclick="setLike({{post.id}})"/>
                                    <!-- <input class= "post_btn_like" type="submit" id="like"  name='{{post.id}}'/>-->
                                    <div class="num_of_likes">
                                        <div id="like-count{{post.id}}" data-like="{{ post.number_of_likes }}">
                                            {{ post.number_of_likes }}
                                        </div>
                                    </div>
                                    <!---<a class= "post_btn_comment" href ="#"></a> --->
                                </div>
                            </form>

                        </div>
                    </object>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>

<script>
function setLike(id)
{
      $.ajax({
               type: "POST",
               url: $("#"+id).attr('action'),
               data: {'post_id': $("#btn"+id).val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      //alert(response["likes_count"]);
                      //alert('Company likes count is now ' + response.likes_count);
                      $("#like-count"+id).empty();
                      $("#like-count"+id).append(response["likes_count"]);
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    }
setInterval(function () {
    $.ajax({
        url: "refresh/",
        type: 'GET',
        data: {'check': true},
        dataType:"json",
        success: function (data) {
            for (id in data)
            {
                if(data[id]["likes_count"]!=$("#like-count"+data[id]["id"]).attr("data-like"))
                {
                  $("#like-count"+data[id]["id"]).attr("data-like",data[id]["likes_count"]);
                  $("#like-count"+data[id]["id"]).empty();
                  $("#like-count"+data[id]["id"]).append(data[id]["likes_count"]);
                }
            }
        }
    });
}, 10000);
</script>
{% endblock %}