<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../static/img/icons/loading_1.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>MyPhotoShow</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <style>
        #email_text {
            font-size: 24px;
        }
    </style>
</head>
    
<body class="conctact_body">
    
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="header_logo" href="index.html">MY PHOTO SHOW</a>
                
                
                <nav class="nav">
                    <a class="nav_link" href="./feed.html">Feed</a>
                    <a class="nav_link" href="./profile.html">Profile</a>
                    <a class="nav_link" href="./contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="contact">
        <div class="container">
            <div class="contact_inner">
                <h2 class="contact_title">Contacts</h2>
                
                <div class="contact_text">This work was done by the student for educational purposes.<br>If you have any question or suggestion, you can contact me in one of these services or by mail:<br><span id="email_text">gusarov2906@gmail.com</span></div>
                <div class="contact_services">
                    <a href="https://vk.com/gusarov2906" target="_blank">
                        <div class="service_btn_vk"></div>
                    </a>
                    <a href="https://www.instagram.com/gusarov2906" target="_blank">
                        <div class="service_btn_instagram"></div>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100006500474398" target="_blank">
                        <div class="service_btn_facebook"></div>
                    </a>
                    <div class="test_list_box">
                        <div>Test
                            <ul>
                                <li><a href="#">Test1</a></li>
                                <li><a href="#">Test2</a></li>
                                <li><a href="#">Test3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="contact_text">You can also watch the development on <span style="font-family: 'Comic Sans MS', monospace; font-weight: 700">github:</span></div>
                <div id = "animation_test">
                    <a href="https://github.com/Gusarov2906" target="_blank">
                        <div id ="image" width="100px" height="100px"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>