<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPhotoShow</title>
</head>
<body>
  <div>
    <div>
      <div>
        <h1>My Photo Show</h1>
      </div>
      <div>
        <h2>Описание</h2>
      </div>
    </div>

    <div>
      <ul>
        <li> <a>Меню:</a></li>
        <li> <a href="./lenta.html">Лента</a> </li>
        <li> <a href="./profile.html">Профиль</a> </li>
        <li> <a href="./description.html">Описание</a> </li>
      </ul>
    </div>

    <div>
      <ol> Возможности сервиса 
        <li> Фоточки </li>
        <li> Комменты </li>
      </ol>
    </div>
  </div>
</body>
</html>