<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../static/img/icons/loading_1.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>MyPhotoShow</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body class="feed_body">
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="header_logo" href="index.html">MY PHOTO SHOW</a>


                <nav class="nav">
                    <a class="nav_link" href="./feed.html">Feed</a>
                    <a class="nav_link" href="./profile.html">Profile</a>
                    <a class="nav_link" href="./contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class = "feed">
        <div class ="container">
            
            <a href="#" style="text-decoration: none"> 
                <object>
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Celea12</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/1.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div> 
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>            
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Neruzah</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/2.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>     
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Qust1991</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/3.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a> 

            <a href="#" style="text-decoration: none"> 
                <object> 
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@EsarEsar</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/4.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                 </object>
            </a>

            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Memalah</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/5.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Nismit</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/6.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>    
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Urnobionu2</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/7.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Elllera</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/8.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Urnobionu2</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/9.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>

            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Hmamoc231111</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/10.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Ittaciot</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/11.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Ybeova</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/12.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Lueera</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/13.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@Qaladana1102</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">   
                                <img src="../../static/img/feed/14.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object> 
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@chadyana</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">
                                <img src="../../static/img/feed/15.jpg" width="100%" height="100%">
                            </a>
                        </div>
                        <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
            <a href="#" style="text-decoration: none"> 
                <object>             
                    <div class = "post">
                        <div class = "post_author">
                            <a class="profile_link" href="#">@atrem1999</a>
                        </div>
                        <div class = "post_img">
                            <a class = "img_link" href="#">               
                                <img src="../../static/img/feed/16.jpg" width="100%" height="100%">
                            </a>
                        </div>
                                       <div class="post_lower_bar">
                            <a class= "post_btn_like" href ="#"></a>
                            <a class= "post_btn_comment" href ="#"></a>
                        </div>
                    </div>
                </object>
            </a>
            
        </div>
    </div>
            
</body>