{% extends 'landing/base.html' %}
{%  block body_style %}
    <body class="log_in_and_registry_body">
{% endblock %}
{% block content %}
    <div class="contact">
        <div class="container">
            <form method="POSt" action="accounts/">
                {% csrf_token %}
                <div class="input_container">
                    <div id = "login_anim">
                        <div id ="image1" width="180px" height="180px"></div>
                    </div>
                    <div class="input_field_container">
                        <label for="login">
                            <input type="text" class="input_field" placeholder="login" name="login" required>
                        </label>
                    </div>
                    <div class="input_field_container">
                        <label for="password">
                            <input type="password" class="input_field" placeholder="password" name="password" required>
                        </label>
                    </div>
                    <div class="input_field_container">
                         <button  type="submit"  class="login_btn">Log in</button>
                    </div>
                    <div class="note">
                        If you are not registered yet you can register <a class="link_to_register" href="./register.html">here</a>.
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}