<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../static/img/icons/loading_1.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>MyPhotoShow</title>
    <script src="../../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <style>
        #email_text {
            font-size: 24px;
        }
    </style>
</head>
    
<body class="log_in_and_registry_body">
    
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="header_logo" href="index.html">MY PHOTO SHOW</a>
                
                
                <nav class="nav">
                    <a class="nav_link" href="./contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="contact">
        <div class="container">
            <form action="./feed.html">
                <div class="input_container">
                    <div id = "login_anim">
                        <div id ="image1" width="180px" height="180px"></div>
                    </div>
                    <div class="input_field_container">
                             <input type="input"  id="abcd" class="input_field" placeholder="login" required>
                    </div>
                    <div class="input_field_container">
                            <input id="abcde" class="input_field" type="password" placeholder="password" required>
                    </div>
                    <div class="input_field_container">
                         <button  id="abc" type="submit"  class="login_btn">Log in</button>
                    </div>
                    <div class="note">
                        If you are not registered yet you can register <a class="link_to_register" href="./register.html">here</a>.
                    </div>
                </div>
            </form>
        </div>
    </div>
    
   
    
</body>
</html>