{%  block post %} }}
<a href="#" style="text-decoration: none">
    <object>
        <div class = "post">
            <div class = "post_author">
                <a class="profile_link" href="#">@{{ author_name }}]</a>
            </div>
            <div class = "post_img">
                <a class = "img_link" href="#">
                    <img src="../../static/img/{{ image }}" width="100%" height="100%">
                </a>
            </div>
            <div class="post_lower_bar">
                <a class= "post_btn_like" href ="#"></a>
                <a class= "post_btn_comment" href ="#"></a>
            </div>
        </div>
    </object>
</a>
{% endblock %}