{% extends 'landing/base.html' %}
{%  block body_style %}
    <body class="log_in_and_registry_body">
{% endblock %}
{% block content %}
    <div class="contact">
        <div class="container">
            <form action="./feed.html">
                <div class="input_container">
                         <div id = "login_anim">
                            <div id ="image1" width="180px" height="180px"></div>
                        </div>
                        <div class="input_field_container">
                                 <input id="name" type="text" class="input_field" placeholder="name" pattern="[A-ZА-Я]{1}[a-zа-я]{1,10}" required>
                        </div>
                        <div class="input_field_container">
                                 <input id="surname" type="text" class="input_field" placeholder="surname"
                                 pattern="[A-ZА-Я]{1}[a-zа-я]{1,10}"required>
                        </div>
                        <div class="input_field_container">
                                 <input id="birthdate" type="date" class="input_field" placeholder="birth date">
                        </div>
                        <div class="input_field_container">
                                 <input id="email" ty type="email" class="input_field" placeholder="email" required>
                        </div>
                        <div class="input_field_container">
                                 <input id="login" type="input" class="input_field" placeholder="login" required>
                        </div>
                        <div class="input_field_container">
                                <input id="password" class="input_field" type="password" placeholder="password" required>
                        </div>
                        <div class="input_field_container">
                                <input id="password_again" class="input_field" type="password" onblur="isValidDate" placeholder="confirm password" required>
                        </div>
                        <div class="input_field_container">
                             <button type="submit" class="login_btn">Register</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}